<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>Nader Portfolio - {% block title %}{% endblock title %}</title>
</head>
<body>
	<h1>Hallo, ich bin Nader</h1>
	<section>
		<header>
			{% block header %}{% endblock header %}
		</header>
		<main>
			{% block content %}{% endblock content %}
		</main>
	</section>
</body>
</html>
